* {
    box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    /*padding: 15px;*/
    max-height: 100%;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

body {
    font-family: sans-serif, Helvetica;
    line-height: 3em;
    letter-spacing: 0.3em;
    font-size: 15pt;
    margin: 0 auto;
}

header {
    height: fit-content;
    
    animation-name: show;
    animation-duration: 1.5s;
    max-width: auto;
    opacity: 1;
    
}

.header-text {
    text-align: center;
    margin: 0 auto;
}

#scene-nav {
    color:white;
    text-align:center;
    background-color: black; 
    /*position: fixed;*/    
    top:0;    
    width: 100%;
    height: fit-content;
}

#scene-nav.remove {
    opacity:0;
}

#scene-nav-div {
    max-height: fit-content;
}

#title-div {
    display:inline-block;
    /*width 50 here + width 50 in communication-node keeps both in desired position*/    
    width:50%;
    margin: auto;
    
    /* margin-bottom: 4vh; */
    
}

#communication-node {
    color: white;
    opacity: 0;
    display:inline-block;   
    height: inherit;
    text-align: center;
    z-index: -100;
    /*width 50 here + width 50 in title-div keeps both in desired position*/
    width: 50%;
    
}

.step-container {
    max-width: 100%;
    
    text-align: center;
}

.step {
    height: fit-content;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top:50%;
    text-align: center;
    background-color: rebeccapurple;
    color: yellowgreen;
    padding: 0.3% 0.3%
}

header #scene-nav.fixed {
    box-shadow: 5px 8.66px 30px 0 rgba(31, 35, 37, 0.078);
    background-color: black;
    position: fixed;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    top: -90px;
    left: 0;
    right: 0;
    bottom: 0;
  }

h1 {
    text-align: center;
    color: white;
    font-size: 35pt;
    margin: 0 auto;
    display:inherit;    
}

.header-text {
    color: white;
}
.scene-text {
    opacity:0;
}

.column {
    margin: 10%;
}

.transparent {
    background-color: transparent;
}

.container {
    overflow:hidden; /*float fix*/
    width:100%;
    /* margin-top: 30%;
    margin-bottom: 30%; */
    
}

.container-right {
    box-sizing: border-box;
    float: right;
    width: 55%;
    padding-left: 20;
    text-align: right;
    animation-name: show;
    animation-duration: 3s;
}

.container-left {
    box-sizing: border-box;
    float:left;
    width: 40%;
    padding-right: 20;
    text-align: left;
    animation-name: show;
    animation-duration: 3s;
}
.img-container {
    text-align: center;
}

.scene-img {
    opacity: 0;
}

.img-container:before {
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
.centered-img {
    display: inline-block;
    vertical-align: middle;
}

/* Parallax */

.parallax {
    max-height: 100%; 
    max-width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-width: 3px;
    border-color: black;
    border-style: solid;
    position: fixed;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-scene {
    margin-top: 20%;
    margin-bottom: 20%;
}

.parallax-last-section {
    margin-bottom: 100%;
}

.fixedbox {
    position: absolute; /*set fixed to go along with parallax*/
    top: 20%;
    left: 30%;
    border: solid;
    border-color: black;
    border-width: 1px;
    width: 130px;
    height: 130px;
    z-index: -100;
}

.particles {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
}

/* Animations */

@keyframes show {
    from { 
        display: none;
        opacity: 0.0;
    }
    to {
        display: inherit;
        opacity: 1.;
        }
}

/* Media Queries */

@media only screen and (max-width: 500px) {
    body {
        font-size: 10pt;
    }

    h1 {
        text-align: center;
        color: white;
        font-size: 12pt;
        margin: auto;
        width: fit-content;
    }

    .container {
        width:100%;
        margin-bottom: 10%;
    }

    .container-right {
        display: block;
        margin-bottom: 5%;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        width: 100%;
        padding: 0;
        text-align: center;
        animation-name: show;
        animation-duration: 3s;
    }
    
    .container-left {
        display: block;
        margin-bottom: 5%;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        width: 100%;
        padding: 0;
        text-align: center;
        animation-name: show;
        animation-duration: 3s;
    }
    .col-s-12 {
        width: 100%;
    }

    
}